*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  color: #392955;
  font-family: "Proxima Nova", sans-serif;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 85px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(65, 38, 114, 0.12);
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__img {
  display: block;
  margin-left: -7px;
  margin-top: -18px;
  width: 91px;
  aspect-ratio: auto 91/40;
  height: 40px;
}
.header__settings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 160px;
  margin: 0 30px 0 15px;
}
.header__lang {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
}
.header__lang-rus {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 12px;
}
.header__icon {
  position: relative;
  margin-right: 7px;
  top: -1px;
}
.header__currency {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 12px;
  white-space: nowrap;
}
.header__night {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 27px;
  min-height: 27px;
  cursor: pointer;
  transform: rotate(30deg);
}
.header__button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
  cursor: pointer;
  transition: transform 0.1s;
  transition: linear 0.1s;
  background: linear-gradient(90.13deg, #fa4bb4 0.11%, #ed32cf 98.12%);
  height: 55px;
  width: 250px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;
  z-index: 1;
}
.header__button:active {
  transform: scale(0.95);
}

.menu {
  margin: 0 30px;
  flex: auto;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.menu__item {
  position: relative;
  color: #392955;
}
.menu__item:hover {
  color: #fa4bb4;
}
.menu__line::after {
  content: "";
  position: absolute;
  background: linear-gradient(90.13deg, #fa4bb4 0.11%, #ed32cf 98.12%);
  height: 19px;
  width: 2px;
  top: 0;
}
.menu__link {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
}
.menu__icon {
  display: none;
}

.sign {
  display: none;
}

.hosting {
  padding-top: 60px;
}
.hosting__wrapper {
  background-image: url("../img/spots-bg.svg");
  background-repeat: no-repeat;
  background-position: center top;
}
.hosting__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #392955;
}
.hosting__descr {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 35px;
}
.hosting__traffics-list {
  display: flex;
  justify-content: space-between;
}
.hosting__traffics-list-item {
  width: 100%;
  flex-shrink: 0;
  position: relative;
}
.hosting__tariff-form {
  position: relative;
  padding-top: 1px;
  border-radius: 3px;
  text-align: center;
  background-color: #fff;
  margin-top: 13px;
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
}

.tariff__discount-wrapper {
  display: block;
  position: absolute;
  top: -13.5px;
  left: calc(50% - 60px);
  padding: 7px 6px;
  border-radius: 2px;
  text-align: center;
  background-image: linear-gradient(180.08deg, #ff6f66 12.11%, #fa487d 98.37%);
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  color: #fff;
  min-width: 120px;
}
.tariff__discount-amount {
  font-weight: 600;
}
.tariff__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.tariff__title {
  margin-top: 18px;
  margin-bottom: 10px;
}
.tariff__name {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
.tariff__price {
  font-weight: 700;
  color: #fa4bb4;
}
.tariff__price span {
  color: #fa4bb4;
  font-weight: 800;
  font-size: 30px;
  line-height: 24px;
}
.tariff__btn-more {
  cursor: pointer;
  margin-bottom: 12px;
}
.tariff__btn-more a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}
.tariff__btn-more a:hover {
  color: #fa4bb4;
  text-decoration: none;
}
.tariff__row {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  text-align: start;
}
.tariff__row:nth-child(even) {
  background-color: rgba(239, 141, 248, 0.11);
}
.tariff__select {
  cursor: pointer;
  position: relative;
  border: none;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  color: inherit;
}
.tariff__btn-buy {
  height: 55px;
  font-weight: 800;
  font-size: 17px;
  margin: 22px 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background: #f9f2ff;
  box-shadow: 0px 1px 7px #d6cfe8;
  cursor: pointer;
  transition: transform 0.1s;
  padding: 0 45px;
  color: #fa4bb4;
}
.tariff__btn-buy:active {
  transform: scale(0.95);
}
.tariff__btn-buy:hover {
  background-color: #fa4bb4;
  color: #fff;
}
.tariff__btn-text {
  cursor: pointer;
  margin-top: 2px;
  font-weight: 800;
}

.swiper-slide {
  flex-shrink: unset;
  height: unset;
}

.swiper-navigation-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
}

.swiper-prev {
  width: 15px;
  height: 15px;
  flex: none;
  transform: rotateZ(45deg);
  cursor: pointer;
}

.swiper-next {
  width: 15px;
  height: 15px;
  flex: none;
  transform: rotateZ(225deg);
  cursor: pointer;
}

.swiper-next::before {
  position: absolute;
  content: "";
  background-color: #ff50bf;
  width: 15px;
  height: 2px;
  border-radius: 2px 0 0 2px;
  right: -1px;
  top: 13px;
  transform: rotate(180deg);
}

.swiper-next::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #ff50bf;
  right: 6px;
  top: 6px;
  border-radius: 0 2px 2px 0;
  transform: rotate(270deg);
}

.swiper-prev::before {
  position: absolute;
  content: "";
  background-color: #ff50bf;
  width: 15px;
  height: 2px;
  border-radius: 2px 0 0 2px;
  right: -1px;
  top: 13px;
  transform: rotate(180deg);
}

.swiper-prev::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #ff50bf;
  right: 6px;
  top: 6px;
  border-radius: 2px 0 0 2px;
  transform: rotate(90deg);
}

.swiper-button-disabled::before {
  background-color: #fab4de;
}

.swiper-button-disabled::after {
  background-color: #fab4de;
}

.swiper-pagination {
  position: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  z-index: initial;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet {
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #b3a9c1;
  opacity: 1;
  position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border-color: #ff50bf;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 6px;
  min-height: 6px;
  background-color: #ff50bf;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.hosting-swiper-nav {
  opacity: 0;
}

.hosting__try {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 22px 52px 17px;
  margin-top: 60px;
  background: linear-gradient(270.09deg, #f1dcfe 0.08%, #fdcff6 99.93%);
  border-radius: 3px;
  color: #392955;
}
.hosting__try-text {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}
.hosting__highlighted-try-text {
  color: #ff50bf;
}
.hosting__try-btn {
  background: #fff;
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
  width: 100%;
  max-width: 262px;
  height: 55px;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  cursor: pointer;
  transition: transform 0.1s;
  color: #ff50bf;
}
.hosting__try-btn:active {
  transform: scale(0.95);
}
.hosting__try-btn:hover {
  background-color: #ff50bf;
  color: #fff;
}

.common-btn-text {
  margin-top: 2px;
  font-weight: 800;
}

.section {
  padding-bottom: 100px;
}
.section__title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}
.section__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.hosting__include-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: calc(20% - 20px);
  padding: 0px 10px;
  height: 125px;
  border-radius: 5px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
}
.hosting__include-text {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
}

.hosting__gifts-list {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 100px auto 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
  background: #fff;
}
.hosting__gifts-item {
  width: 510px;
  height: 107px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hosting__gifts-item:first-child {
  background-image: linear-gradient(89.98deg, #feeff7 0.02%, #f5eafe 99.98%);
}
.hosting__gifts-item:nth-child(2) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.hosting__gifts-describing {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #392955;
}
.hosting__gifts-text {
  margin-left: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.section-title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.hosting__config-list {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.hosting__config-item {
  position: relative;
  width: 310px;
  text-align: center;
  padding: 0px 10px;
}
.hosting__config-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: block;
  width: 2px;
  height: 53px;
  background-color: rgba(0, 0, 0, 0.1);
}
.hosting__config-name {
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  color: #ed32cf;
}
.hosting__config-text {
  font-size: 18px;
  line-height: 22px;
}

.section-title {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.websites__wrapper {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  padding: 40px 0 40px 195px;
  background: #f7f3ff;
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
  border-radius: 3px;
  overflow: hidden;
}
.websites__wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 1;
  background-image: linear-gradient(90deg, #f7f3ff 0%, rgba(0, 0, 0, 0) 100%);
}
.websites__circle {
  position: absolute;
  left: -210px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  border: 1px solid #766495;
  transition: transform 300ms;
}
.websites__circle-number {
  font-weight: 800;
  font-size: 33px;
  line-height: 1;
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: #fa4bb4;
}
.websites__circle-number:nth-child(1) {
  position: absolute;
  left: calc(100% + 11px);
  top: 0;
  bottom: 0;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}
.websites__circle-number:nth-child(2) {
  left: 0;
  right: 0;
  top: calc(100% + 14px);
  transform: rotateZ(90deg);
}
.websites__circle-number:nth-child(3) {
  right: calc(100% + 11px);
  top: 0;
  bottom: 0;
  transform: rotateZ(180deg);
}
.websites__circle-number:nth-child(4) {
  left: 0;
  right: 0;
  bottom: calc(100% + 14px);
  transform: rotateZ(-90deg);
}
.websites__swiper {
  margin-bottom: 30px;
}
.websites__swiper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  z-index: 1;
  pointer-events: none;
  background-image: linear-gradient(270deg, #f7f3ff 20%, rgba(0, 0, 0, 0) 100%);
}
.websites__swiper-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.websites__slide.swiper-slide {
  flex-shrink: 0;
}
.websites__icon {
  margin-bottom: 25px;
}
.websites__slide-title {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.websites__slide-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
.websites__navigation {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}
.websites__swiper-prev {
  cursor: pointer;
}
.websites__swiper-next {
  cursor: pointer;
}

.advantages__list {
  display: flex;
  gap: 75px;
}
.advantages__coloumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.advantages__item {
  position: relative;
  padding: 25px 70px 25px 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.advantages__item_heading {
  font-weight: 400;
  font-size: 20px;
}
.advantages__item_description {
  font-weight: 400;
  font-size: 16px;
  height: 0;
  overflow: hidden;
  transition: height 150ms;
}
.advantages__btn {
  position: absolute;
  right: 25px;
  top: 25px;
  display: flex;
  align-items: center;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-color: #fff;
}
.advantages__btn-icon {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #392955;
  pointer-events: none;
}
.advantages__btn-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: transform 150ms;
  transform: rotateZ(90deg);
}

.advantages__item.opened .advantages__btn-icon {
  background: linear-gradient(90.13deg, #fa4bb4 0.11%, #ed32cf 98.12%);
}

.advantages__item.opened .advantages__item_heading {
  margin-bottom: 25px;
  color: #fa4bb4;
}

.advantages__item.opened .advantages__btn-icon::after {
  transform: rotateZ(0deg);
}

.advantages__item.opened .advantages__item_description {
  height: 74px;
}

.footer {
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(65, 38, 114, 0.12);
}
.footer__main-wrapper {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
}
.footer__logo-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  display: block;
  margin-bottom: 34px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
.footer__subscribe-text {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.footer__social-list {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.footer__list {
  overflow: hidden;
}
.footer__lists {
  overflow: hidden;
}
.footer__list-title {
  color: #ff50bf;
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
}
.footer__list-content.height-0 {
  height: 0px;
}
.footer__item {
  margin-top: 20px;
  font-size: 17px;
  line-height: 21px;
}
.footer__item:hover {
  color: #ff50bf;
}
.footer__copyright {
  width: 100%;
  height: fit-cont ent;
  padding: 25px 0;
  border-top: 1px solid #cbcbcb;
  font-size: 13px;
  line-height: 19px;
}
.footer__copyright_address {
  display: block;
}
.footer__copyright-text {
  color: #cfcbd7;
}

.contact-only-tablet {
  display: none;
}

.auth-lines {
  background-image: url("../img/auth_lines.svg");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  padding-top: 74px;
  display: flex;
  justify-content: center;
  max-height: 100vh;
  overflow-y: auto;
}

.auth {
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.07);
  height: 70px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}
.auth__flex {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.auth__wrapper {
  display: flex;
  gap: 14px;
  justify-content: space-between;
  margin-top: 14px;
  width: -moz-fit-content;
  width: fit-content;
}
.auth__wrapper > img {
  height: 18px;
  width: 19px;
  transform: rotate(4deg);
}
.auth__select-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.auth__current-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
}
.auth__current-lang > img {
  margin-right: 7px;
}
.auth__current-lang > svg {
  stroke: #392955;
  stroke-width: 2px;
  height: 8px;
  margin-left: 5px;
  transform: rotate(180deg);
}

.login__page {
  margin: auto;
}
.login__form-wrapper {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  padding: 30px 0;
  width: -moz-fit-content;
  width: fit-content;
}
.login__links {
  display: flex;
  height: 30px;
  justify-content: space-evenly;
  text-transform: uppercase;
  width: 100%;
}
.login__current-auth-link {
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.login__current-auth-link:after {
  background-image: linear-gradient(270deg, #ff42a8, #e030bd);
  border-radius: 99px;
  bottom: -2px;
  box-shadow: 0 1px 6px rgba(255, 66, 168, 0.7);
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
}
.login__auth-link {
  color: #392955;
  font-size: 18px;
}
.login__form {
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 25px;
  padding: 18px;
  width: 260px;
}

.form__field-wrapper {
  width: 100%;
  margin-bottom: 10px;
}
.form__label {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 5px;
  margin-left: 10px;
}
.form__input-wrapper {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  height: 45px;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}
.form__input-wrapper > svg {
  fill: #c4c4c4;
  position: absolute;
  left: 12px;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.form__input-wrapper > img {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.form__input-wrapper > input::-moz-placeholder {
  font-size: 13px;
  color: #c4c4c4;
}
.form__input-wrapper > input::placeholder {
  font-size: 13px;
  color: #c4c4c4;
}
.form__input {
  height: 100%;
  min-width: 100%;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  color: inherit;
  font-size: 16px;
  height: calc(100% - 2px);
  padding-left: 16px;
  padding-right: 10px;
  position: absolute;
  width: calc(100% - 2px);
  z-index: 1;
}
.form__pass-show {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 60%;
  justify-content: center;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: 0 0;
}
.form__pass-show svg {
  fill: #777;
}
.form__captcha {
  margin-bottom: -15px;
  min-height: 61px;
  transform-origin: 0 0;
}
.form__style-static {
  width: 304px;
  height: 78px;
}
.form__submit {
  align-items: center;
  background: #f9f2ff;
  border-radius: 99px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  transition: transform 0.1s;
  font-size: 18px;
  height: 50px;
  margin: 10px 0 15px;
  border-width: 0;
  padding: 10px 20px;
  width: 100%;
  box-shadow: -4px -4px 4px #fefdff, 2px 4px 5px #e4def2, inset 2px 2px 2px #fff;
  color: #ff3cb1;
}
.form__submit:active {
  transform: scale(0.95);
}
.form__submit:hover {
  color: #fff;
  background-color: #ff3cb1;
}
.form__reset-pass {
  border-bottom: 1px solid #4c75a3;
  color: #4c75a3;
  font-size: 16px;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.form__social-title {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}
.form__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 146px;
}
.cart__background {
  position: fixed;
  z-index: 200002;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.cart__block {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 3px;
  margin: auto;
}
.cart__form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 918px;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 90vh;
  margin: 0;
  --horizontal_padding: 30px;
}
.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 20px 30px;
  z-index: 2;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(65, 38, 114, 0.12);
}
.cart__header span {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #392955;
}
.cart__close {
  cursor: pointer;
  background-color: #fff;
}
.cart__container {
  padding: 18px 30px 30px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
}
.cart__content {
  display: flex;
  flex-direction: column;
}
.cart__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130.5%;
  margin-bottom: 20px;
}
.cart__tariff-container {
  margin-bottom: 25px;
}
.cart__register {
  border-bottom: 1px solid #e1daea;
  padding-bottom: 25px;
}
.cart__register-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 25px;
}
.cart__input-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  position: relative;
}
.cart__input-wrapper label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 7px;
  margin-left: 10px;
}
.cart__input-wrapper input {
  background: #fff;
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
  border-radius: 3px;
  padding: 14px 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130.5%;
  height: 50px;
  outline: none;
  border: none;
  color: inherit;
}
.cart__input-wrapper input::-moz-placeholder {
  font-size: 14px;
}
.cart__input-wrapper input::placeholder {
  font-size: 14px;
}
.cart__account {
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  text-decoration-line: underline;
  color: #4c75a3;
  cursor: pointer;
}
.cart__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130.5%;
  padding-top: 16px;
}
.cart__price b {
  font-size: 18px;
}
.cart__footer {
  padding: 18px 30px 26px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  background: #fff;
  box-shadow: 0px -1px 8px rgba(65, 38, 114, 0.12);
}
.cart__next {
  height: 55px;
  max-width: 265px;
  width: 100%;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
  background: #f9f2ff;
  box-shadow: 0px 1px 7px #d6cfe8;
  cursor: pointer;
  transition: transform 0.1s;
  color: #fa4bb4;
}
.cart__next:active {
  transform: scale(0.95);
}
.cart__next:hover {
  color: #fff;
  background-color: #fa4bb4;
}
.cart__next-text {
  margin-top: 2px;
  font-weight: 800;
}
.cart__cancel {
  font-weight: 400;
  font-size: 18px;
  line-height: 130.5%;
  text-decoration-line: underline;
  margin-left: 34px;
  cursor: pointer;
  background: 0 0;
  border: none;
  color: inherit;
}

.cart-header__block {
  display: flex;
}
.cart-header__tariff {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  min-height: 80px;
  flex-basis: 100%;
  border-radius: 3px;
  padding: 10px 20px;
  background: linear-gradient(89.98deg, rgba(239, 141, 248, 0.11) 0.02%, rgba(241, 228, 255, 0.22) 99.98%);
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
}
.cart-header__name {
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 400px;
}
.cart-header__period {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 178px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  max-width: 307px;
}
.cart-header__input-wrapper {
  max-width: 178px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
.cart-header__input-wrapper label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 7px;
  margin-left: 10px;
}
.cart-header__button {
  max-width: 200px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
  border-radius: 3px;
  padding: 0 12px;
  height: 38px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.cart-header__select-text {
  font-size: 18px;
  white-space: nowrap;
  pointer-events: none;
}
.cart-header__percent {
  pointer-events: none;
  background: linear-gradient(180.08deg, #ff6f66 12.11%, #fa487d 98.37%);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  width: 39px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}
.cart-header__config {
  max-width: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 10%;
  margin-left: 15px;
  background: #fff;
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
  border-radius: 3px;
  cursor: pointer;
}
.cart-header__settings span {
  display: none;
}
.cart-header__settings-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 18px;
  background: url("../img/settings.svg") no-repeat center;
}

.cart-tariff-name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
}

.cart-password-block {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cart-password-block button {
  cursor: pointer;
  position: absolute;
  right: 15px;
  background-color: #fff;
}

.flex-active {
  display: flex;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 25px;
}

.try {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 25px;
}

._lock {
  overflow: hidden;
}

@media (min-width: 768px) {
  .auth__wrapper {
    margin-top: 0;
  }
  .login__form {
    padding: 25px 40px;
    width: 313px;
  }
  .form__input {
    padding-left: 36px;
  }
}
@media (min-width: 1281px) {
  .login__form {
    padding: 36px 64px;
    width: 431px;
  }
  .form__field-wrapper {
    margin-bottom: 20px;
  }
  .form__input-wrapper {
    height: 50px;
  }
  .form__submit {
    font-size: 20px;
    height: 55px;
    margin: 20px 0;
  }
}
@media (max-width: 1281px) {
  .form__captcha {
    transform: scale(0.77);
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .container {
    padding: 0 7%;
  }
  .try {
    padding: 0 7%;
  }
}
@media (min-width: 768px) and (max-width: 1549px) {
  .section {
    padding-bottom: 70px;
  }
}
@media (min-width: 1550px) and (max-width: 1919px) {
  .section-title {
    margin-bottom: 40px;
  }
  .footer__logo-wrapper {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1550px) {
  .hosting__tariffs-list {
    margin: 0 -20px;
  }
  .hosting__traffics-list-item {
    padding: 0 20px;
  }
}
@media (max-width: 1919px) {
  .container {
    width: 100%;
  }
  .try {
    width: 100%;
  }
  .menu {
    margin: 0 20px;
  }
  .hosting__gifts-list {
    width: 100%;
  }
  .hosting__config-list {
    width: 100%;
  }
}
@media screen and (max-width: 1549px) {
  .hosting__tariffs-list {
    margin: 0 -10px;
  }
  .hosting__traffics-list-item {
    padding: 0 10px;
  }
  .footer__main-wrapper {
    flex-direction: column;
  }
  .footer__logo {
    margin: 0;
  }
  .footer__logo-wrapper {
    margin-bottom: 35px;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .footer__subscribe {
    display: flex;
    flex-direction: row;
    flex-basis: 75%;
  }
  .footer__subscribe-text {
    margin: 0;
    width: 35%;
  }
  .footer__social-list {
    width: calc(65% - 50px);
    margin-right: 50px;
  }
  .footer__list-wrapper {
    width: 100%;
    gap: 10px;
  }
  .footer__list {
    flex-basis: calc(25% - 20px);
  }
  .footer__lists {
    flex-basis: calc(25% - 20px);
  }
}
@media (max-width: 1519px) {
  .hide {
    display: none;
  }
}
@media (max-width: 1420px) {
  .menu__icon {
    z-index: 20;
    display: block;
    position: relative;
    width: 40px;
    height: 31px;
    cursor: pointer;
    margin-left: 20px;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    z-index: 20;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ff50bf;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-46deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(43deg) translate(1px, 50%);
  }
  .header__logo {
    flex: auto;
  }
  .menu__list .menu__line {
    display: none;
  }
  .menu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
  .menu__list {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 60%;
    display: block;
    padding-top: 95px;
    height: 100%;
    width: 60%;
    background-color: #fff;
    margin: 0 0 0 auto;
    position: relative;
    transition: right 0.5s ease;
  }
  .menu__list::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 85px;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(65, 38, 114, 0.12);
    z-index: 2;
  }
  .menu__list._active {
    right: 0;
  }
  .menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: linear-gradient(89.98deg, rgba(239, 141, 248, 0.11) 0.02%, rgba(241, 228, 255, 0.22) 99.98%);
    height: 50px;
    width: 100%;
  }
  .menu__link {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #392955;
  }
  .menu._active {
    overflow: visible;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    line-height: 1.2;
    cursor: pointer;
    width: 252px;
    height: 52px;
    font-size: 19px;
    font-weight: 800;
    background: #f9f2ff;
    box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
    margin: 30px auto;
    color: #ed32cf;
  }
  .sign:hover {
    color: #f9f2ff;
    background: linear-gradient(90.13deg, #fa4bb4 0.11%, #ed32cf 98.12%);
  }
  .sign:active {
    color: #f9f2ff;
    background: linear-gradient(90.13deg, #fa4bb4 0.11%, #ed32cf 98.12%);
  }
  .sign span {
    text-transform: uppercase;
    -webkit-background-clip: text;
            background-clip: text;
  }
  .hide {
    display: inline-block;
  }
  .advantages__item.opened .advantages__item_description {
    height: 100px;
  }
}
@media (max-width: 1350px) {
  .hosting-swiper-nav {
    opacity: 1;
  }
  .hosting-swiper-nav {
    margin-top: 40px;
  }
  .hosting__tariff-form {
    width: 100%;
  }
  .swiper-slide {
    flex-shrink: 0;
  }
  .slide-main {
    display: block;
  }
  .hosting__include-item {
    width: calc(20% - 10px);
    height: auto;
    padding: 10px;
  }
  .hosting__traffics-list-item {
    opacity: 0.6;
  }
  .hosting__traffics-list-item.swiper-slide-active,
  .hosting__traffics-list-item.swiper-slide-next {
    opacity: 1;
  }
  .hosting__gifts-item {
    flex-direction: column;
    flex-basis: 30%;
  }
  .hosting__gifts-text {
    margin-left: 0;
    margin-top: 10px;
    text-align: center;
  }
  .advantages__item.opened .advantages__item_description {
    height: 113px;
  }
}
@media (max-width: 1024px) {
  .hosting__config-list {
    flex-wrap: wrap;
    gap: 5px;
  }
  .hosting__config-item {
    flex-basis: calc(33% - 10px);
    padding: 0px 20px 30px;
  }
  .websites__slide-title {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .websites__icon {
    width: 37px;
    height: 37px;
    margin-bottom: 18px;
  }
  .advantages__item.opened .advantages__item_description {
    height: 13 0px;
  }
  .footer__list-wrapper {
    flex-wrap: wrap;
  }
  .footer__list {
    flex-basis: calc(33.333333% - 10px);
  }
  .footer__lists {
    flex-basis: calc(33.333333% - 10px);
  }
  .contact-only-tablet {
    display: block;
    margin-top: 45px;
  }
  .contact-not-tablet {
    display: none;
  }
}
@media (max-width: 982px) {
  .header__settings {
    margin: 0 10px 0 15px;
  }
  .header__button {
    display: none;
  }
}
@media (max-width: 920px) {
  .menu__list {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header__night {
    display: none;
  }
  .menu__icon {
    margin-left: 0;
  }
  .try {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .swiper-navigation-wrapper {
    width: 100%;
  }
  .section__title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .hosting__title {
    margin-bottom: 25px;
    font-size: 25px;
  }
  .hosting__gifts-list {
    margin-top: 60px;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
  .hosting__gifts-item:nth-child(2) {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .hosting__gifts-item {
    flex-basis: auto;
    width: 100%;
  }
  .hosting__config-list {
    flex-direction: column;
    margin: 0 auto;
  }
  .hosting__config-item {
    width: 100%;
    padding: 0;
    text-align: start;
  }
  .hosting__config-item:not(:last-child) {
    margin-bottom: 45px;
  }
  .hosting__config-list > .hosting__config-item:not(:last-child)::after {
    height: 2px;
    width: 100%;
    top: 138%;
  }
  .hosting__config-name {
    font-size: 22px;
  }
  .section-title {
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .section {
    padding-bottom: 60px;
  }
  .websites__circle {
    display: none;
  }
  .websites__wrapper {
    padding: 30px;
  }
  .websites__swiper {
    margin-bottom: 30px;
  }
  .websites__swiper::after {
    display: none;
  }
  .websites__pagination {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
  .websites__navigation {
    margin: 0 auto;
  }
  .swiper-pagination-fraction {
    margin: 0 25px;
    font-size: 18px;
    font-weight: 400;
  }
  .websites__pagination .swiper-pagination-total {
    opacity: 0.3;
  }
  .advantages__list {
    flex-direction: column;
    gap: initial;
  }
  .advantages__item_heading {
    font-size: 18px;
  }
  .advantages__item.opened .advantages__item_description {
    height: 74px;
  }
  .advantages__item {
    padding: 20px 40px 20px 20px;
  }
  .advantages__btn {
    right: 0;
    top: 20px;
  }
  .footer__list-title-span {
    display: block;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer__list-title-span::before, .footer__list-title-span::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 3px;
    background: linear-gradient(90.13deg, #fa4bb4 0.11%, #ed32cf 98.12%);
    position: absolute;
    top: 15px;
    transition: all 0.15s linear;
  }
  .footer__list-title-span::before {
    transform: rotate(45deg);
    right: -26px;
  }
  .footer__list-title-span::after {
    transform: rotate(-45deg);
    right: -35px;
  }
  .footer__list-title-span.opened::before {
    transform: rotate(-45deg);
  }
  .footer__list-title-span.opened::after {
    transform: rotate(45deg);
  }
  .footer__list-title {
    cursor: pointer;
    margin: 16px 0px 16px 0px;
  }
  .footer__list-wrapper {
    width: 100%;
    flex-direction: column;
  }
  .footer__list-content {
    overflow: hidden;
    height: 0px;
  }
  .footer__list-content.opened {
    height: 472px;
  }
  .footer__list-content.opened-min {
    height: 222px;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .footer__logo-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: unset;
  }
  .footer__social-list {
    width: 100%;
    max-width: 400px;
  }
  .footer__subscribe {
    display: block;
  }
  .footer__subscribe-text {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 30px;
  }
  .contact-only-tablet {
    display: none;
  }
  .contact-not-tablet {
    display: block;
  }
  .form__input {
    padding-left: 39px;
  }
}
@media (max-width: 647px) {
  .cart__header {
    padding: 15px 14px;
  }
  .cart__container {
    padding: 15px 14px 25px;
  }
  .cart__input-wrapper {
    width: 100%;
    max-width: 100%;
  }
  .cart__input-wrapper input {
    width: 100%;
  }
  .cart__footer {
    flex-direction: column;
  }
  .cart__cancel {
    margin-top: 10px;
    margin-left: 0;
  }
  .cart-header__block {
    flex-direction: column;
  }
  .cart-header__config {
    max-width: none;
    width: 100%;
    margin-left: 0;
    flex-basis: 100%;
    margin-top: 11px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
  }
  .cart-header__settings span {
    display: block;
    margin-left: 10px;
  }
  .cart-header__settings-icon {
    margin-bottom: 0;
  }
  .settings-block {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 581px) {
  .advantages__item.opened .advantages__item_description {
    height: 100px;
  }
  .advantages__btn {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 475px) {
  .advantages__item.opened .advantages__item_description {
    height: 120px;
  }
}
@media (max-width: 400px) {
  .advantages__item.opened .advantages__item_description {
    height: 165px;
  }
  .advantages__item {
    padding: 15px 25px 20px 15px;
  }
  .header__settings {
    margin: 0;
  }
}